
button {
    width: 68px;
    height: 32px;
    color: white;
    border: none;
    background: none;
    border-radius: 5px;
    font-size: 20px;
    cursor: pointer;
    overflow: hidden;
}
body button .text {
    position: relative;
    z-index: 2;
    display: block;
  }
  body button:before, body button:after {
    position: relative;
    z-index: 1;
  }
  body button:active {
    transform: translateY(1px);
  }
  body button:active .text {
    transform: scale(0.95);
  }
  body button {
    overflow: hidden;
    color: white;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.7);
    background-image: radial-gradient(circle at center, rgba(247, 151, 151, 0.2), rgba(85, 7, 7, 0.5));
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.75), inset 0 0 0 2px rgba(0, 0, 0, 0.3), inset 0 -6px 6px -3px rgba(223, 136, 136, 0.2);
    position: relative;
  }
  body button:after {
    content: "";
    background: rgba(0, 167, 225, 0.2);
    display: block;
    position: absolute;
    z-index: 0;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    backdrop-filter: blur(3px) saturate(400%);
    -webkit-backdrop-filter: blur(3px) saturate(400%);
  }
  body button:before {
    content: "";
    display: block;
    position: absolute;
    width: calc(100% - 4px);
    height: 35px;
    background-image: linear-gradient(rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0));
    top: 2px;
    left: 2px;
    border-radius: 30px 30px 200px 200px;
    opacity: 0.7;
  }
  body button:hover {
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.7);
  }
  body button:hover:before {
    opacity: 1;
  }
  body button:active {
    text-shadow: 0 0 2px rgba(0, 0, 0, 0.9);
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.75), inset 0 0 0 2px rgba(0, 0, 0, 0.3), inset 0 -6px 6px -3px rgba(0, 129, 174, 0.2);
  }
  body button:active:before {
    height: 25px;
  }